# NodeJS
/node

# 依赖模块
**/node_modules

# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# 部署文件
/dist

# VS Code配置
/.vscode

# misc
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode

# visual studio code
.history
*.log
functions/*
.temp/**

# umi
.umi
.umi-production

# screenshot
screenshot
.firebase